<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name="WgShadertoy" Id="*" UpgradeCode="618addfc-c365-4f47-80e1-ef53f98917dd" Language="1033" Codepage="1252" Version="0.2.0" Manufacturer="fralonra">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <Icon Id="WgShadertoy.exe" SourceFile=".\extra\windows\wgshadertoy.ico"/>
        <WixVariable Id="WixUILicenseRtf" Value=".\extra\windows\wix\license.rtf"/>
        <Property Id="ARPPRODUCTICON" Value="wgshadertoy.exe"/>
        <MediaTemplate EmbedCab="yes"/>
        <UIRef Id="WixUI_Minimal"/>

        <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
            <ComponentRef Id="WgShadertoyExe"/>
            <ComponentRef Id="WgShadertoyShortcut"/>
            <ComponentRef Id="ModifyPathEnv"/>
            <ComponentRef Id="ContextMenu"/>
        </Feature>

        <!-- Create directories -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="WgShadertoyProgramFiles" Name="WgShadertoy"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="WgShadertoyProgramMenu" Name="WgShadertoy"/>
            </Directory>
        </Directory>

        <!-- Application binaries -->
        <DirectoryRef Id="WgShadertoyProgramFiles">
            <Component Id="WgShadertoyExe" Guid="*">
                <File Id="WgShadertoyExeFile" Source=".\target\release\wgshadertoy.exe" Name="wgshadertoy.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="WgShadertoyProgramMenu">
            <!-- Application shortcut -->
            <Component Id="WgShadertoyShortcut" Guid="826d2913-4ba4-4ab2-951e-0506f62522d4">
                <Shortcut Id="WgShadertoyShortcutFile" Icon="WgShadertoy.exe" Name="WgShadertoy" Description="Description" Target="[WgShadertoyProgramFiles]wgshadertoy.exe"/>
                <RemoveFolder Id="WgShadertoyProgramMenu" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\WgShadertoy" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="WgShadertoyProgramFiles">
            <!-- Add to PATH -->
            <Component Id="ModifyPathEnv" Guid="856af15d-9368-47c9-a6af-8aec2d549619" KeyPath="yes">
                <Environment Id="PathEnv" Value="[WgShadertoyProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="TARGETDIR">
            <!-- Add context menu -->
            <Component Id="ContextMenu" Guid="a58956dd-6acc-4d13-a7d4-639595519d29">
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open WgShadertoy here\command">
                    <RegistryValue Type="string" Value="[WgShadertoyProgramFiles]wgshadertoy.exe &quot;%V&quot;" KeyPath="yes"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open WgShadertoy here">
                    <RegistryValue Type="string" Name="Icon" Value="[WgShadertoyProgramFiles]wgshadertoy.exe"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Product>
</Wix>