<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name="WgShadertoy"
             Id="*"
             UpgradeCode="618addfc-c365-4f47-80e1-ef53f98917dd"
             Language="1033"
             Codepage="1252"
             Version="0.3.1"
             Manufacturer="Fralonra">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <Icon Id="WgShadertoyIcon" SourceFile=".\extra\windows\wgshadertoy.ico"/>
        <WixVariable Id="WixUILicenseRtf" Value=".\extra\windows\wix\license.rtf"/>
        <Property Id="ARPPRODUCTICON" Value="WgShadertoyIcon"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch WgShadertoy"/>
        <Property Id="WixShellExecTarget" Value="[#WgShadertoyExeFile]"/>
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>
        <MediaTemplate EmbedCab="yes"/>

        <UI>
            <UIRef Id="WixUI_InstallDir"/>
            <Publish Dialog="ExitDialog"
                     Control="Finish" 
                     Event="DoAction" 
                     Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="WgShadertoy"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenu" Name="WgShadertoy"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="WgShadertoyExe" Guid="*">
                <File Id="WgShadertoyExeFile" Source=".\target\release\wgshadertoy.exe" Name="wgshadertoy.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ProgramMenu">
            <Component Id="Shortcut" Guid="*">
                <Shortcut Id="ShortcutFile"
                          Icon="WgShadertoyIcon"
                          Name="WgShadertoy"
                          Description="A WGSL playground inspired by Shadertoy"
                          Target="[#WgShadertoyExeFile]"
                          WorkingDirectory="INSTALLDIR"/>
                <Shortcut Id="UninstallProduct"
                          Name="Uninstall WgShadertoy"
                          Target="[SystemFolder]msiexec.exe"
                          Arguments="/x [ProductCode]"
                          Description="Uninstalls WgShadertoy" />
                <RemoveFolder Id="ProgramMenu" Directory="ProgramMenu" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Fralonra\WgShadertoy" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="ModifyPathEnv" Guid="856af15d-9368-47c9-a6af-8aec2d549619" KeyPath="yes">
                <Environment Id="PathEnv" Value="[INSTALLDIR]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes"/>
            </Component>
        </DirectoryRef>

        <Feature Id="MainApplicatiton" Title="Main Application" Level="1">
            <ComponentRef Id="WgShadertoyExe"/>
            <ComponentRef Id="Shortcut"/>
            <ComponentRef Id="ModifyPathEnv"/>
        </Feature>
    </Product>
</Wix>